<h1><%= "#{t('contacts')} #{t('from')} #{@contact.name}" %></h1>

<%= render :partial => 'admin/shared/contact_tabs', :locals => {:current => "Contact Details"} %>

<%= hook :admin_contact_show do %>
<div class="adr">
  <h4><%= t("name") %></h4>
  <p>
    <%= @contact.name %><br />
  </p>
</div>

<div class="adr">
  <h4><%= t("email") %></h4>
  <p>
    <%= @contact.email %><br />
  </p>
</div>

<div class="adr">
  <h4><%= t("phone") %></h4>
  <p>
    <%= @contact.phone %><br />
  </p>
</div>

<div class="adr">
  <h4><%= t("subject") %></h4>
  <p>
    <%= @contact.subject %><br />
  </p>
</div>

<div class="adr">
  <h4><%= t("message") %></h4>
  <p>
    <%= @contact.message %>
  </p>
</div>
<% end %>
